.main {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1rem;
}
.main div {
    border: solid 0.01rem white;
    border-radius: 1rem;
    padding: 1rem 3rem;
    align-self: center;
}
